

/* Media query for max-width: 1200px */
@media only screen and (max-width: 1200px) {
  /* .topline {
    top: 42px;
    left: -16px;
  }
  
  /* Other styles specific to this media query */
}

/* Media query for max-width: 1024px */
@media only screen and (max-width: 1024px) {
  /* .videosection {
    height: auto;
    
  } */
  /* .topline1 {
    left: -13px;
    top: 24px;
  }
  .topline {
    top: 50px;
    left: -16px;
  } */
  .box2 {
    /* height: 450px;
  } */
  .sectionheadingh1 {
    font-size: 26px;
  }
  .sectionheadingh33 {
    font-size: 32px;
    font-family: 'Roboto';
  } 
  .textlorem1{font-size: 19px;}
  .textlorem3{font-size: 16px;}

}
.videosection{gap: 47px;}
.videosection1{padding: 0px 40px;}
.textlorem{font-size: 18px;}
.sectionheadingh1{font-size: 28px;
}
.peanutcontainer{height: 384px;}
}
@media only screen and (max-width: 786px) {
  /* .peanutcontainer {
    height: 345px;
  }
  .videosection {
    height: 464px; */
  
  
.register{font-size: 12px;}
.icon{gap: 5px;}
 .paragraph{font-size: 12px;} 
.header{padding: 0px 10px;}
 .item{font-size: 13px;}
.heading{font-size: 26px;}
.heading2{font-size: 24px;}
.heading{font-size: 17px;} 
.videosection{flex-direction: column;
  justify-content: center;
   height: 740px;}
   .textboxsection{height: 410px;
  width: 100%; justify-content: center;}
  .videosection1{flex-direction: column;
    justify-content: center;
     height: 750px;
     padding: 50px 0px;
     gap: 1px;
  }
/* .sectionheadingh1{font-size: 20px;} */
/* .textlorem{font-size: 15px;} */

}
@media only screen and (max-width: 480px) {
  .item {
    display: flex;
    flex-direction: column;
  }
  .nav {
    height: 214px;
  }
  .peanutcontainer {
    height: 1140px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .foodvideo{width: 100%;
}
  /* Other styles specific to this media query */
}
/* /* Default styles
.sectionheadingh1 {
  font-size: 26px; }*/


