/* Default styles */
.sectionheadingh1 {
  font-size: 26px;
}

/* Media query for max-width: 1200px */
@media only screen and (max-width: 1200px) {
  .topline {
    top: 42px;
    left: -16px;
  }
  /* Other styles specific to this media query */
}

/* Media query for max-width: 1024px */
@media only screen and (max-width: 1024px) {
  .videosection {
    height: auto;
    /* Other styles specific to this media query */
  }
  .topline1 {
    left: -13px;
    top: 24px;
  }
  .topline {
    top: 50px;
    left: -16px;
  }
  .box2 {
    height: 500px;
  }
  .sectionheadingh1 {
    font-size: 26px;
  }
  .sectionheadingh33 {
    font-size: 38px;
    font-family: 'Roboto';
  }
  /* Other styles specific to this media query */
}

/* Media query for max-width: 786px */
@media only screen and (max-width: 786px) {
  .peanutcontainer {
    height: 345px;
  }
  .videosection {
    height: 464px;
  }
  /* Other styles specific to this media query */
}

/* Media query for max-width: 480px */
@media only screen and (max-width: 480px) {
  .item {
    display: flex;
    flex-direction: column;
  }
  .nav {
    height: 214px;
  }
  .peanutcontainer {
    height: 1140px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* Other styles specific to this media query */
}
/* Default styles */
.sectionheadingh1 {
  font-size: 26px;
}

/* Media query for max-width: 1200px */
@media only screen and (max-width: 1200px) {
  .topline {
    top: 42px;
    left: -16px;
  }
  /* Other styles specific to this media query */
}

/* Media query for max-width: 1024px */
@media only screen and (max-width: 1024px) {
  .videosection {
    height: auto;
    /* Other styles specific to this media query */
  }
  .topline1 {
    left: -13px;
    top: 24px;
  }
  .topline {
    top: 50px;
    left: -16px;
  }
  .box2 {
    height: 500px;
  }
  .sectionheadingh1 {
    font-size: 26px;
  }
  .sectionheadingh33 {
    font-size: 38px;
    font-family: 'Roboto';
  }
  /* Other styles specific to this media query */
}

/* Media query for max-width: 786px */
@media only screen and (max-width: 786px) {
  .peanutcontainer {
    height: 345px;
  }
  .videosection {
    height: 464px;
  }
  /* Other styles specific to this media query */
}

/* Media query for max-width: 480px */
@media only screen and (max-width: 480px) {
  .item {
    display: flex;
    flex-direction: column;
  }
  .nav {
    height: 214px;
  }
  .peanutcontainer {
    height: 1140px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* Other styles specific to this media query */
}
